<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <h1 align="center">Login Page </h1>
    </div>
    <div class="row">
        <div class="col-md-10">
            <p class="text-right">
                <a href="logIn.html">Login</a>
                <a href="homePage.html">Home Page</a>
            </p>
        </div>
    </div>
</div>
<div class=" row" >
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/signin" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Nick Name</label>
                <input type="name" class="form-control" id="nickName" placeholder="Nick name">
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default">Inside</button>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>